/* For Google Code Prettiffy */

.prettyprint {
    text-align: left;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #333;
    color: #fff;
    font-family: "Consolas", monospace;
    line-height: 25px;
    font-size: 18px;
    padding-top: 20px;
}

.prettyprint ol {
    padding: 10px;
}

.prettyprint ol li {
    padding-left: 10px;
}

.prettyprint ol.linenums > li {
	list-style-type: decimal; 
}
