[package]
name = "rusimg"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.1.8", features = ["derive"] }
image = "0.24.5"
mozjpeg = "0.9.4"
oxipng = "8.0.0"
regex = "1.7.2"
viuer = "0.6.2"
webp = "0.2.2"
file-matcher = "0.7.0"
glob = "0.3.1"
